### Windows OS files ###

# Windows thumbnail cache files
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### Mac OS files ###

# General
.AppleDouble
.DS_Store
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items


### Linux OS files ###

*~

# Temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Created when an open file is removed but is still being accessed
.nfs*